{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.homequotes: Home Quotes region
 * - page.home_high1: Home Highlight 1 region
 * - page.home_high2: Home Highlight 2 region
 * - page.home_high3: Home Highlight 3 region
 * - page.content_top: Content top region
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.footer_first: First Bottom region
 * - page.footer_second: Second Bottom region
 * - page.footer_third: Third Bottom region
 * - page.footer_fourth: Fourth Bottom region
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id="page-wrapper" class="container">

  <div id="header-region">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        {{ page.header }}
      </div>
      <div class="col-md-8 col-sm-8">
        {{ page.header_right }}
      </div>
    </div>
  </div>

    <div id="primary-menu-region">

<div id="logodefault">

  <div class="first">
    <a href="{{front_page}}">
      <img alt="fflch" src="{{ base_path ~ directory }}/images/logo.png" />
    </a>
  </div>

  <div class="second">
    <div class="site_name">
        <a class="site_name" href="{{front_page}}">{{site_name}} </a>
    </div>
    <div class="slogan"> {{site_slogan}}</div>
  </div>  

  <div class="third">  
    <a href="https://www.usp.br" target="_blank"><img src="{{ base_path ~ directory }}/images/usp.png" /></a>
  </div>

</div>

  {% if page.primary_menu %}
      {{ page.primary_menu }}
  {% endif %}
  </div>

  {# Include a slider. #}
  {% if slider %}
    <div class="flexslider">
      <ul class="slides">
        {% for slide in slider %}
          <li>
            <a href="{{ slide.url | t }}"><img src="{{ slide.src }}" alt="{{ slide.name }}"></a>
            {% if slide.description %}
              <p class="flex-caption">{{ slide.description | raw | t }}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.breadcrumb %}
    <div id="breadcrumb-region">
      {{ page.breadcrumb }}
    </div>
  {% endif %}

  {% if page.content_top %}
    <div id="content-top-region" class="dark-blue-bg">{{ page.content_top }}</div>
  {% endif %}

  <main id="main" class="clearfix">
    {% if page.sidebar_first %}
      <div id="sidebar-first" class="sidebar {{ sidebarfirst }}" role="complementary">
        {{ page.sidebar_first }}
      </div>
    {% endif %}

    <div class="{{ contentlayout }}" role="main">

      {{ page.content }}

    </div>{# /#post-content #}

    {% if page.sidebar_second_second %}
      <div id="sidebar-second-second" class="sidebar {{ sidebarsecondsecond }}" role="complementary">
        {{ page.sidebar_second_second }}
      </div>
    {% endif %}

    {% if page.sidebar_second %}
      <div id="sidebar-second" class="sidebar {{ sidebarsecond }}" role="complementary">
        {{ page.sidebar_second }}
      </div>
    {% endif %}

  </main>

  {% if page.content_bottom %}
    <div id="content-bottom-region">{{ page.content_bottom }}</div>
  {% endif %}

  {# Bottom regions. #}
  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    <div id="footer-column" class="gray-bg">
      <div class="row">
        {% if page.footer_first %}
          <div class="footer-1 col-md-3">{{ page.footer_first }}</div>
        {% endif %}
        {% if page.footer_second %}
          <div class="footer-2 col-md-3">{{ page.footer_second }}</div>
        {% endif %}
        {% if page.footer_third %}
          <div class="footer-3 col-md-3">{{ page.footer_third }}</div>
        {% endif %}
        {% if page.footer_fourth %}
          <div class="footer-4 col-md-3">{{ page.footer_fourth }}</div>
        {% endif %}
      </div>
    </div>
    <div class="clear"></div>
  {% endif %}

  <footer role="contentinfo" id="footer" class="dark-blue-bg">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
    <hr>
    <span class="credits">Developed by <a href="http://dropthemes.in" target="_blank">Dropthemes.in</a></span>
    {{ socialicons |raw }}
  </footer>
  <a href="#Top" class="btn-btt" title="Back to Top" style="display: block;"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>

</div>{# /#wrap #}
