
  {# PAGE_2.html #}
{#
View afetada: http://ea.fflch.usp.br/admin/structure/views/view/eafflchuspbr_verbetes
  {% set linha =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] %}
#}

{# gross but it works! #}

<div class="eafflchuspbr_grid-container">

{# Mostra títulos #}
  {% for row in rows %}
    {% set letra =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_incial_do_verbete }}'] %}

    {% set linha =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] %}
    {% set link =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ view_node }}'] %}
    {% set verbete =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_verbete }}'] %}
    {% set trimverbete =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_verbete_1 }}'] %}
    {% set autor =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_autoria }}'] %}
    {% set tags =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_palavras_chave }}'] %}
    {% set numero =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nid }}'] %}
    {% set caixa =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nothing }}'] %}
    {% set completo =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ view_node_1 }}'] %}


   
<div class="eafflchuspbr_grid-item">
<span class="eafflchuspbr_box">
	<div class="eafflchuspbr_box_none">
    	<p class="eafflchuspbr_box_titulo">{{ linha }}</p>
      <p class="eafflchuspbr_box_verbete">{{ trimverbete }}</p>
    </div> 
       <div class="eafflchuspbr_box">

         <!-- conteúdo -->
          
         	  <div class="eafflchuspbr_box_previa" onclick="document.getElementById('container_{{ numero }}').style.display='block'">PRÉVIA</div>
            <div class="eafflchuspbr_box_letra">{{ letra }}</div>
            <div class="eafflchuspbr_box_completo">{{ completo }}</div>
            
        
      </div>
              
              {# CONTAINER FLEXBOX PRÉVIA #}
              <div id="container_{{ numero }}" class="eafflchuspbr_modal">
                <div class="eafflchuspbr_modal-content">
                  <span onclick="document.getElementById('container_{{ numero }}').style.display='none'" class="eafflchuspbr_close">&times;</span>

                  <div class="eafflchuspbr_flexcontainer">     
                    <div class="eafflchuspbr_flexsumario">    
                      <p class="eafflchuspbr_modal-content_titulo">{{ linha }}</p>          
                      <p class="eafflchuspbr_modal-content_verbete">{{ verbete }}</p>
                      <p class="eafflchuspbr_modal-content_link">{{ link }}</p>            
                    </div>
                  <div class="eafflchuspbr_flexletrainfo">
                    <div class="eafflchuspbr_flexletra">
                      {{ letra }}
                    </div>
                    <div class=eafflchuspbr_flexinfo>
                      <p class="eafflchuspbr_modal-content_autor_rotulo">AUTORIA</p>
                      <p class="eafflchuspbr_modal-content_autor">{{ autor }}</p>
                      <p class="eafflchuspbr_modal-content_tags_rotulo">PALAVRAS-CHAVE</p>
                      <p class="eafflchuspbr_modal-content_tags">{{ tags }}</p>      
                    </div>
                  </div>
                </div>     
              </div>
              {# --FIM DO CONTAINER FLEXBOX PRÉVIA--#}    
         
         <!-- fim do conteúdo -->              
       </div>
</span>
</div>

{% endfor %}
</div>