 {# PAGE_1.html #}
{#
View afetada: http://ea.fflch.usp.br/admin/structure/views/view/eafflchuspbr_verbetes
  {% set linha =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] %}
#}


{# Letras #}
{% set letras = [] %}
{% for row in rows %}
  {% set letra =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_incial_do_verbete }}'] %}
  {% set letra = letra|e|upper %}
  {% if letra not in letras %}
    {% set letras = letras|merge([letra]) %}
  {% endif %}
{% endfor %}
{% set letras = letras|sort %}

<div class="eafflchuspbr_letra_inline">
{% for letra in letras %}
<span class="eafflchuspbr-ancora eafflchuspbr_letra eafflchuspbr-{{ letra }} eafflchuspbr-cores"> <a class="eafflchuspbr-ancora-link" href="#{{letra}}"> {{letra}} </a></span>
{% endfor %}
</div>

<div class="eafflchuspbr_inicial"> {# 1 #}

{# Mostra títulos #}
{% for inicial in letras %}
<div class="eafflchuspbr_inicial-table"> {# 2 #}
  <div class="eafflchuspbr_inicial-tr"> {# 3 #} 
    <div class="eafflchuspbr_inicial-td-letra" id="{{inicial}}">{{ inicial }}</div> {# 4 #}
    <div class="eafflchuspbr_inicial-td-verbete">{# 5 #}
      {% for row in rows %}
    
        {% set letra =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_incial_do_verbete }}'] %}
        {% set letra = letra|e|upper %}
        {% set linha =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] %}
        {% set link =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ view_node }}'] %}
        {% set verbete =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_verbete }}'] %}
        {% set autor =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_autoria }}'] %}
        {% set tags =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_palavras_chave }}'] %}
        {% set caixa =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nothing }}'] %}
        {% set numero =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nid }}'] %}
        {% set tipo =  row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_tipo_de_verbete }}'] %}
        {% if letra == inicial %}

          {# MODAL #}
          <div class="eafflchuspbr_verbete eafflchuspbr-{{ tipo }}"> 
            <div class="eafflchuspbr_titulo-previa">
              <h2 class="eafflchuspbr_titulo eafflchuspbr-{{ tipo }} eafflchuspbr-link-cores">{{ linha }} </h2>
              <span class="eafflchuspbr_previa" onclick="document.getElementById('{{ numero }}').style.display='block'">PRÉVIA</span>
            </div>
            <div id="{{ numero }}" class="eafflchuspbr_modal">
              <div class="eafflchuspbr_modal-content eafflchuspbr-{{ tipo }}">
                <span class="eafflchuspbr_close eafflchuspbr-cores" onclick="document.getElementById('{{ numero }}').style.display='none'">&times;</span>

                <div class="eafflchuspbr_flexcontainer">     
                  <div class="eafflchuspbr_flexsumario">    
                    <p class="eafflchuspbr_modal-content_titulo eafflchuspbr-cores">{{ linha }}</p>          
                    <p class="eafflchuspbr_modal-content_verbete">{{ verbete }}</p>
                    <p class="eafflchuspbr_modal-content_link eafflchuspbr-cores">{{ link }}</p>            
                  </div>
                  <div class="eafflchuspbr_flexletrainfo">
                    <div class="eafflchuspbr_flexletra eafflchuspbr-cores">
                      {{ letra }}
                    </div>
                    <div class=eafflchuspbr_flexinfo>
                      <p class="eafflchuspbr_modal-content_autor_rotulo eafflchuspbr-cores">AUTORIA</p>
                      <p class="eafflchuspbr_modal-content_autor">{{ autor }}</p>
                      <p class="eafflchuspbr_modal-content_tags_rotulo eafflchuspbr-cores">PALAVRAS-CHAVE</p>
                      <p class="eafflchuspbr_modal-content_tags">{{ tags }}</p>      
                    </div>
                  </div>
                </div>
              </div>     
            </div>
          </div>    

        {% endif %}    
      {% endfor %}
    </div>{# 5 #}
  </div> {# 3 #}
</div> {# 2 #}
{% endfor %}
</div> {# 1 #}
